<a href="https://colab.research.google.com/github/ibudeX/Lagos-Patient-Data-Cleaning/blob/main/Lagos_Patient_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
df =  pd.read_csv("lagos_hospital_patient_records.csv")

In [ ]:
df.head()

,Patient_ID,First_Name,Last_Name,Gender,Age,Diagnosis,Admission_Date,Discharge_Date,State_of_Residence,Hospital_Branch,Billing_Amount,Payment_Status
0,P1000,Ibrahim,Adebayo,male,NaN,Flu,NaN,NaN,Lagos,Yaba,10000.0,NaN
1,P1001,Halima,NaN,Male,55.0,Anemia,2024-11-16 00:00:00,2023-08-24 00:00:00,Edo,Yaba,20000.0,Paid
2,P1002,Fatima,Chukwu,male,92.0,NaN,2023-12-13 00:00:00,2023-07-28 00:00:00,Ogun,Ikeja,10000.0,Paid
3,P1003,Emeka,Chukwu,male,50.0,Cough,2024-06-15 00:00:00,2023-09-14 00:00:00,Kano,Lekki,15000.0,Paid
4,NaN,Tunde,Adebayo,Others,63.0,COVID-19,2024-06-19 00:00:00,2024-09-26 00:00:00,Imo,NaN,10000.0,pending

In [ ]:
df.tail()

,Patient_ID,First_Name,Last_Name,Gender,Age,Diagnosis,Admission_Date,Discharge_Date,State_of_Residence,Hospital_Branch,Billing_Amount,Payment_Status
1015,P1178,Chika,NaN,male,93.0,Ulcer,2023-10-25 00:00:00,2023-10-27 00:00:00,Imo,Yaba,15000.0,pending
1016,P1824,Tunde,NaN,Male,NaN,Hypertension,2024-01-15 00:00:00,2023-12-07 00:00:00,Abuja,Ajah,100000.0,Pending
1017,P1472,Chika,Abdullahi,male,12.0,Flu,2023-07-08 00:00:00,2024-12-25 00:00:00,Imo,NaN,10000.0,NaN
1018,P1956,Emeka,Ogunleye,female,21.0,COVID-19,2024-04-16 00:00:00,2023-06-12 00:00:00,Ogun,Ikeja,100000.0,pending
1019,P1441,Ibrahim,Balogun,F,77.0,Asthca,2024-02-05 00:00:00,2024-12-04 00:00:00,Kano,Surulere,15000.0,pending

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Patient_ID          919 non-null    object
 1   First_Name          916 non-null    object
 2   Last_Name           916 non-null    object
 3   Gender              920 non-null    object
 4   Age                 906 non-null    float64
 5   Diagnosis           920 non-null    object
 6   Admission_Date      918 non-null    object
 7   Discharge_Date      919 non-null    object
 8   State_of_Residence  919 non-null    object
 9   Hospital_Branch     917 non-null    object
 10  Billing_Amount      918 non-null    float64
 11  Payment_Status      918 non-null    object
dtypes: float64(2), object(10)
memory usage: 95.8+ KB

In [ ]:
df.shape

(1020, 12)

In [ ]:
df.columns

Index(['Patient_ID', 'First_Name', 'Last_Name', 'Gender', 'Age', 'Diagnosis',
       'Admission_Date', 'Discharge_Date', 'State_of_Residence',
       'Hospital_Branch', 'Billing_Amount', 'Payment_Status'],
      dtype='object')

In [ ]:
df.describe()

              Age  Billing_Amount
count  906.000000      918.000000
mean    60.501104    33409.586057
std    108.062190    32782.253019
min     -5.000000     5000.000000
25%     23.000000    10000.000000
50%     49.000000    20000.000000
75%     76.000000    50000.000000
max    999.000000   100000.000000

In [ ]:
df.isnull().sum()

Patient_ID            101
First_Name            104
Last_Name             104
Gender                100
Age                   114
Diagnosis             100
Admission_Date        102
Discharge_Date        101
State_of_Residence    101
Hospital_Branch       103
Billing_Amount        102
Payment_Status        102
dtype: int64

In [ ]:
df

,Patient_ID,First_Name,Last_Name,Gender,Age,Diagnosis,Admission_Date,Discharge_Date,State_of_Residence,Hospital_Branch,Billing_Amount,Payment_Status
0,P1000,Ibrahim,Adebayo,male,NaN,Flu,NaN,NaN,Lagos,Yaba,10000.0,NaN
1,P1001,Halima,NaN,Male,55.0,Anemia,2024-11-16 00:00:00,2023-08-24 00:00:00,Edo,Yaba,20000.0,Paid
2,P1002,Fatima,Chukwu,male,92.0,NaN,2023-12-13 00:00:00,2023-07-28 00:00:00,Ogun,Ikeja,10000.0,Paid
3,P1003,Emeka,Chukwu,male,50.0,Cough,2024-06-15 00:00:00,2023-09-14 00:00:00,Kano,Lekki,15000.0,Paid
4,NaN,Tunde,Adebayo,Others,63.0,COVID-19,2024-06-19 00:00:00,2024-09-26 00:00:00,Imo,NaN,10000.0,pending
...,...,...,...,...,...,...,...,...,...,...,...,...
1015,P1178,Chika,NaN,male,93.0,Ulcer,2023-10-25 00:00:00,2023-10-27 00:00:00,Imo,Yaba,15000.0,pending
1016,P1824,Tunde,NaN,Male,NaN,Hypertension,2024-01-15 00:00:00,2023-12-07 00:00:00,Abuja,Ajah,100000.0,Pending
1017,P1472,Chika,Abdullahi,male,12.0,Flu,2023-07-08 00:00:00,2024-12-25 00:00:00,Imo,NaN,10000.0,NaN
1018,P1956,Emeka,Ogunleye,female,21.0,COVID-19,2024-04-16 00:00:00,2023-06-12 00:00:00,Ogun,Ikeja,100000.0,pending
1019,P1441,Ibrahim,Balogun,F,77.0,Asthca,2024-02-05 00:00:00,2024-12-04 00:00:00,Kano,Surulere,15000.0,pending

In [ ]:
df[df.duplicated()]

,Patient_ID,First_Name,Last_Name,Gender,Age,Diagnosis,Admission_Date,Discharge_Date,State_of_Residence,Hospital_Branch,Billing_Amount,Payment_Status
1000,P1589,NaN,Okafor,F,38.0,Asthma,2023-06-19 00:00:00,2024-01-31 00:00:00,Lagos,Ikeja,50000.0,Paid
1001,P1452,Tunde,Eze,Others,51.0,Hyperteqsion,2024-07-22 00:00:00,2023-04-21 00:00:00,Oyo,Lekki,NaN,pending
1002,P1475,John,Okafor,male,NaN,Typhoid,2023-09-16 00:00:00,2023-10-30 00:00:00,Abuja,Ikorodu,100000.0,unpaid
1003,P1363,Bola,Aliyu,Male,60.0,Malaria,2023-11-25 00:00:00,2024-12-15 00:00:00,Ogun,NaN,20000.0,Pending
1004,P1544,NaN,Ogunleye,Male,11.0,Malaria,2024-09-13 00:00:00,2024-08-08 00:00:00,Kano,Yaba,5000.0,Paid
1005,P1116,John,Ogunleye,F,NaN,vsthma,2023-12-13 00:00:00,2023-04-13 00:00:00,Imo,Ajah,15000.0,Pending
1006,P1511,Ngozi,Abdullahi,Female,NaN,Typhoid,2024-11-06 00:00:00,2023-11-26 00:00:00,Edo,Ikeja,NaN,Paid
1007,P1534,Fatima,Johnson,M,22.0,COVID-19,2024-05-06 00:00:00,2023-02-15 00:00:00,Oyo,Ikorodu,50000.0,unpaid
1008,P1834,NaN,Eze,Female,14.0,Flu,2023-05-22 00:00:00,2024-05-10 00:00:00,NaN,NaN,5000.0,pending
1009,P1088,Bola,Okafor,F,45.0,COVID-19,2023-04-10 00:00:00,2025-01-09 00:00:00,Lagos,Ajah,50000.0,Pending
1010,P1291,Bola,Okafor,M,6.0,Hypertession,NaN,2024-01-19 00:00:00,Kaduna,Ajah,20000.0,Pending
1011,P1617,Bola,Ogunleye,Others,91.0,Anemia,2023-02-17 00:00:00,NaN,Imo,Surulere,15000.0,Paid
1012,NaN,Chika,NaN,Female,28.0,Anemia,2023-04-21 00:00:00,2024-12-09 00:00:00,Kaduna,Ikeja,10000.0,pending
1013,P1931,Chika,Johnson,female,84.0,Tyshoid,2023-09-25 00:00:00,2023-06-07 00:00:00,Crsss River,Ikorodu,15000.0,NaN
1014,P1848,NaN,NaN,female,NaN,Flu,NaN,2023-06-25 00:00:00,Imo,Lekki,15000.0,pending
1015,P1178,Chika,NaN,male,93.0,Ulcer,2023-10-25 00:00:00,2023-10-27 00:00:00,Imo,Yaba,15000.0,pending
1016,P1824,Tunde,NaN,Male,NaN,Hypertension,2024-01-15 00:00:00,2023-12-07 00:00:00,Abuja,Ajah,100000.0,Pending
1017,P1472,Chika,Abdullahi,male,12.0,Flu,2023-07-08 00:00:00,2024-12-25 00:00:00,Imo,NaN,10000.0,NaN
1018,P1956,Emeka,Ogunleye,female,21.0,COVID-19,2024-04-16 00:00:00,2023-06-12 00:00:00,Ogun,Ikeja,100000.0,pending
1019,P1441,Ibrahim,Balogun,F,77.0,Asthca,2024-02-05 00:00:00,2024-12-04 00:00:00,Kano,Surulere,15000.0,pending

In [ ]:
df1 = df.copy()

In [ ]:

df1[df1.Patient_ID =="P1441"].count()

Patient_ID            2
First_Name            2
Last_Name             2
Gender                2
Age                   2
Diagnosis             2
Admission_Date        2
Discharge_Date        2
State_of_Residence    2
Hospital_Branch       2
Billing_Amount        2
Payment_Status        2
dtype: int64

In [ ]:
df1.drop_duplicates(inplace=True)

In [ ]:
df1[df1.duplicated()]

Empty DataFrame
Columns: [Patient_ID, First_Name, Last_Name, Gender, Age, Diagnosis, Admission_Date, Discharge_Date, State_of_Residence, Hospital_Branch, Billing_Amount, Payment_Status]
Index: []

In [ ]:
unique_counts = df1.nunique().sort_values()

In [ ]:
unique_counts

Payment_Status          4
Hospital_Branch         6
Billing_Amount          6
Gender                  7
First_Name             10
Last_Name              10
State_of_Residence     47
Diagnosis              85
Age                   102
Discharge_Date        514
Admission_Date        525
Patient_ID            900
dtype: int64

In [ ]:
df1

,Patient_ID,First_Name,Last_Name,Gender,Age,Diagnosis,Admission_Date,Discharge_Date,State_of_Residence,Hospital_Branch,Billing_Amount,Payment_Status
0,P1000,Ibrahim,Adebayo,male,NaN,Flu,NaN,NaN,Lagos,Yaba,10000.0,NaN
1,P1001,Halima,NaN,Male,55.0,Anemia,2024-11-16 00:00:00,2023-08-24 00:00:00,Edo,Yaba,20000.0,Paid
2,P1002,Fatima,Chukwu,male,92.0,NaN,2023-12-13 00:00:00,2023-07-28 00:00:00,Ogun,Ikeja,10000.0,Paid
3,P1003,Emeka,Chukwu,male,50.0,Cough,2024-06-15 00:00:00,2023-09-14 00:00:00,Kano,Lekki,15000.0,Paid
4,NaN,Tunde,Adebayo,Others,63.0,COVID-19,2024-06-19 00:00:00,2024-09-26 00:00:00,Imo,NaN,10000.0,pending
...,...,...,...,...,...,...,...,...,...,...,...,...
995,P1995,Ibrahim,Aliyu,Others,98.0,COVID-19,2024-05-25 00:00:00,2023-03-24 00:00:00,Abuja,Surulere,5000.0,NaN
996,P1996,Halima,Okafor,male,95.0,Cough,2023-07-24 00:00:00,2024-12-06 00:00:00,Edo,Ikeja,NaN,pending
997,P1997,NaN,Ogunleye,Female,73.0,Malaria,2023-08-29 00:00:00,NaN,Kano,Surulere,15000.0,unpaid
998,P1998,Emeka,Adebayo,Male,NaN,Hypertension,2023-09-05 00:00:00,NaN,Kano,Surulere,20000.0,Paid
999,P1999,Bola,Okafor,female,72.0,Typhoid,2023-09-29 00:00:00,2024-05-30 00:00:00,Cross River,NaN,20000.0,Paid

In [ ]:
df1.Gender.unique()

array(['male', 'Male', 'Others', 'female', nan, 'M', 'Female', 'F'],
      dtype=object)

In [ ]:
df1.Diagnosis.unique()

array(['Flu', 'Anemia', nan, 'Cough', 'COVID-19', 'Hypertension', 'Ulcer',
       'Typhoid', 'Asthma', 'Malaria', 'olu', 'Malqria', 'Diabetes',
       'Astsma', 'Akemia', 'Asthia', 'Dbabetes', 'vsthma', 'Tykhoid',
       'Fru', 'Coueh', 'pough', 'Dirbetes', 'Coqgh', 'Cosgh', 'Anecia',
       'Typqoid', 'Hypertwnsion', 'klcer', 'Typhyid', 'Typhkid',
       'pypertension', 'Ulcbr', 'Hypertession', 'Anedia', 'Coudh', 'vlu',
       'Uvcer', 'Typhord', 'eiabetes', 'Asthca', 'Hyperteqsion',
       'COVcD-19', 'Asihma', 'tough', 'Coumh', 'Anemua', 'ciabetes',
       'qyphoid', 'blu', 'Diabetbs', 'Mafaria', 'Asthxa', 'Anevia',
       'kalaria', 'gnemia', 'plu', 'Hypertensien', 'jough', 'Diabetds',
       'Dnabetes', 'Ckugh', 'Coegh', 'wiabetes', 'CwVID-19', 'Ugcer',
       'Malarla', 'Typhobd', 'Ademia', 'biabetes', 'Ulfer', 'Fou',
       'Asqhma', 'Fyu', 'Hypertensiln', 'elu', 'Diobetes', 'Diacetes',
       'Uqcer', 'Cojgh', 'Tyshoid', 'Typyoid', 'Asthqa', 'COVIDg19',
       'Diabotes', 'Comgh'], dtype=object)

In [ ]:
df1.Payment_Status.unique()

array([nan, 'Paid', 'pending', 'Pending', 'unpaid'], dtype=object)

In [ ]:
df1.Hospital_Branch.unique()

array(['Yaba', 'Ikeja', 'Lekki', nan, 'Ikorodu', 'Ajah', 'Surulere'],
      dtype=object)

In [ ]:
df1.State_of_Residence.unique()

array(['Lagos', 'Edo', 'Ogun', 'Kano', 'Imo', nan, 'Kaduna', 'Abuja',
       'Rivers', 'Absja', 'Cross River', 'eaduna', 'Oyo', 'Ablja',
       'Rijers', 'Iyo', 'Cross Riser', 'wyo', 'Opo', 'Lagds', 'Owo',
       'Cross siver', 'Lagss', 'Emo', 'Ooun', 'Crosv River',
       'Cross Rzver', 'kano', 'Kabo', 'ubuja', 'kmo', 'Lagjs', 'iyo',
       'Kadufa', 'mbuja', 'Iko', 'Kavo', 'aagos', 'Croas River', 'Keduna',
       'Oso', 'Kpno', 'Kako', 'Eko', 'Crsss River', 'Oqun', 'Abhja',
       'Khno'], dtype=object)

In [ ]:
df1['Gender'] = df1['Gender'].replace({
    'male': 'Male',
    'M': 'Male',
    'female': 'Female',
    'F': 'Female',
    np.nan: 'Undisclosed'
})

In [ ]:
df1['Gender'] = df1['Gender'].str.strip().str.title()

In [ ]:
df1['Gender'].unique()

array(['Male', 'Others', 'Female', 'Undisclosed'], dtype=object)

In [ ]:
diagnosis_groups = {
    'Flu': ['flu', 'fyu', 'fou', 'vlu', 'blu', 'elu', 'plu', 'fru'],
    'Anemia': ['anemia', 'akemia', 'anedia', 'anemua', 'anevia', 'adema', 'anecia', 'gnemia', 'ademia'],
    'Cough': ['cough', 'coueh', 'coqgh', 'cosgh', 'cojgh', 'coumh', 'ckugh', 'comgh', 'tough', 'pough', 'coudh', 'coegh', 'jough'],
    'Covid-19': ['covid-19', 'covidg19', 'covcd-19', 'cwvid-19', 'covid19', 'covidg-19', 'covid', 'covcd19'],
    'Hypertension': ['hypertension', 'hypertwnsion', 'pypertension', 'hypertensien', 'hyperteqsion', 'hypertensiln', 'hypertession', 'hypertenslon'],
    'Ulcer': ['ulcer', 'klcer', 'uvcer', 'ugcer', 'ulfer', 'uqcer', 'ulcbr'],
    'Typhoid': ['typhoid', 'tykhoid', 'typhyid', 'typhkid', 'typhord', 'typqoid', 'tyshoid', 'typoid', 'qyphoid', 'typhobd', 'typyoid'],
    'Asthma': ['asthma', 'astma', 'asthxa', 'asthqa', 'asihma', 'asqhma', 'vsthma', 'astmia', 'astxia', 'asthsma', 'astca', 'astsmia', 'astsca', 'asthca', 'astsha', 'asthsqa', 'astsma', 'asthia'],
    'Malaria': ['malaria', 'malqria', 'mafaria', 'malarla', 'kalaria', 'malaira'],
    'Diabetes': ['diabetes', 'dbabetes', 'diabetds', 'diabotes', 'dnabetes', 'diabetbs', 'diabeters', 'ciabetes', 'wiabetes', 'biabetes', 'diobetes', 'eiabetes', 'diacetes', 'dirbetes'],
    'Others': ['others', 'olu']
}

In [ ]:
diagnosis_mapping = {}
for correct, spellings in diagnosis_groups.items():
    for s in spellings:
        diagnosis_mapping[s.lower()] = correct
    diagnosis_mapping[correct.lower()] = correct

In [ ]:
def clean_diagnosis_name(diagnosis):
    if pd.isna(diagnosis):
        return 'Undisclosed'
    diagnosis = diagnosis.strip().lower()
    return diagnosis_mapping.get(diagnosis, 'Others')

In [ ]:
df1['Diagnosis'] = df1['Diagnosis'].apply(clean_diagnosis_name)

In [ ]:
df1['Diagnosis'].unique()

array(['Flu', 'Anemia', 'Undisclosed', 'Cough', 'Covid-19',
       'Hypertension', 'Ulcer', 'Typhoid', 'Asthma', 'Malaria', 'Others',
       'Diabetes'], dtype=object)

In [ ]:
state_groups = {
    'Lagos': ['lagos', 'lagds', 'lagss', 'lagjs', 'aagos', 'eko'],
    'Edo': ['edo'],
    'Ogun': ['ogun', 'ooun', 'oqun', 'opo'],
    'Oyo': ['oyo', 'iyo', 'wyo', 'owo', 'oso'],
    'Kano': ['kano', 'kmo', 'kpno', 'khno', 'kavo', 'kabo', 'kako'],
    'Kaduna': ['kaduna', 'eaduna', 'keduna', 'kadufa'],
    'Imo': ['imo', 'emo', 'iko'],
    'Abuja': ['abuja', 'absja', 'ablja', 'ubhja', 'mbuja', 'ubuja', 'abhja'],
    'Rivers': ['rivers', 'rijers', 'riverss'],
    'Cross River': [
        'cross river', 'cross riser', 'cross rzver', 'crosv river',
        'cross siver', 'crsss river', 'croas river'
    ]
}

In [ ]:
state_mapping = {}
for correct, spellings in state_groups.items():
    for s in spellings:
        state_mapping[s.lower()] = correct
    state_mapping[correct.lower()] = correct

In [ ]:
def clean_state_name(state):
    if pd.isna(state):
        return 'Undisclosed'
    state = state.strip().lower()
    return state_mapping.get(state, 'Others')

In [ ]:
df1['State_of_Residence'] = df1['State_of_Residence'].apply(clean_state_name)

In [ ]:
df1['State_of_Residence'].unique()

array(['Lagos', 'Edo', 'Ogun', 'Kano', 'Imo', 'Undisclosed', 'Kaduna',
       'Abuja', 'Rivers', 'Cross River', 'Oyo'], dtype=object)

In [ ]:
df1['Hospital_Branch'] = df1['Hospital_Branch'].replace(np.nan, 'Undisclosed')

In [ ]:
df1['Hospital_Branch'].unique()

array(['Yaba', 'Ikeja', 'Lekki', 'Undisclosed', 'Ikorodu', 'Ajah',
       'Surulere'], dtype=object)

In [ ]:
df1

,Patient_ID,First_Name,Last_Name,Gender,Age,Diagnosis,Admission_Date,Discharge_Date,State_of_Residence,Hospital_Branch,Billing_Amount,Payment_Status
0,P1000,Ibrahim,Adebayo,Male,NaN,Flu,NaN,NaN,Lagos,Yaba,10000.0,NaN
1,P1001,Halima,NaN,Male,55.0,Anemia,2024-11-16 00:00:00,2023-08-24 00:00:00,Edo,Yaba,20000.0,Paid
2,P1002,Fatima,Chukwu,Male,92.0,Undisclosed,2023-12-13 00:00:00,2023-07-28 00:00:00,Ogun,Ikeja,10000.0,Paid
3,P1003,Emeka,Chukwu,Male,50.0,Cough,2024-06-15 00:00:00,2023-09-14 00:00:00,Kano,Lekki,15000.0,Paid
4,NaN,Tunde,Adebayo,Others,63.0,Covid-19,2024-06-19 00:00:00,2024-09-26 00:00:00,Imo,Undisclosed,10000.0,pending
...,...,...,...,...,...,...,...,...,...,...,...,...
995,P1995,Ibrahim,Aliyu,Others,98.0,Covid-19,2024-05-25 00:00:00,2023-03-24 00:00:00,Abuja,Surulere,5000.0,NaN
996,P1996,Halima,Okafor,Male,95.0,Cough,2023-07-24 00:00:00,2024-12-06 00:00:00,Edo,Ikeja,NaN,pending
997,P1997,NaN,Ogunleye,Female,73.0,Malaria,2023-08-29 00:00:00,NaN,Kano,Surulere,15000.0,unpaid
998,P1998,Emeka,Adebayo,Male,NaN,Hypertension,2023-09-05 00:00:00,NaN,Kano,Surulere,20000.0,Paid
999,P1999,Bola,Okafor,Female,72.0,Typhoid,2023-09-29 00:00:00,2024-05-30 00:00:00,Cross River,Undisclosed,20000.0,Paid

In [ ]:
df4 = df1.copy()

In [ ]:
df4['First_Name'] = df4['First_Name'].replace(np.nan, 'Undisclosed')

In [ ]:
df4['Last_Name'] = df4['Last_Name'].replace(np.nan, 'Undisclosed')

In [ ]:
df4['Payment_Status'] = df4['Payment_Status'].replace(np.nan, 'Undisclosed')

In [ ]:
df4

,Patient_ID,First_Name,Last_Name,Gender,Age,Diagnosis,Admission_Date,Discharge_Date,State_of_Residence,Hospital_Branch,Billing_Amount,Payment_Status
0,P1000,Ibrahim,Adebayo,Male,NaN,Flu,NaN,NaN,Lagos,Yaba,10000.0,Undisclosed
1,P1001,Halima,Undisclosed,Male,55.0,Anemia,2024-11-16 00:00:00,2023-08-24 00:00:00,Edo,Yaba,20000.0,Paid
2,P1002,Fatima,Chukwu,Male,92.0,Undisclosed,2023-12-13 00:00:00,2023-07-28 00:00:00,Ogun,Ikeja,10000.0,Paid
3,P1003,Emeka,Chukwu,Male,50.0,Cough,2024-06-15 00:00:00,2023-09-14 00:00:00,Kano,Lekki,15000.0,Paid
4,NaN,Tunde,Adebayo,Others,63.0,Covid-19,2024-06-19 00:00:00,2024-09-26 00:00:00,Imo,Undisclosed,10000.0,pending
...,...,...,...,...,...,...,...,...,...,...,...,...
995,P1995,Ibrahim,Aliyu,Others,98.0,Covid-19,2024-05-25 00:00:00,2023-03-24 00:00:00,Abuja,Surulere,5000.0,Undisclosed
996,P1996,Halima,Okafor,Male,95.0,Cough,2023-07-24 00:00:00,2024-12-06 00:00:00,Edo,Ikeja,NaN,pending
997,P1997,Undisclosed,Ogunleye,Female,73.0,Malaria,2023-08-29 00:00:00,NaN,Kano,Surulere,15000.0,unpaid
998,P1998,Emeka,Adebayo,Male,NaN,Hypertension,2023-09-05 00:00:00,NaN,Kano,Surulere,20000.0,Paid
999,P1999,Bola,Okafor,Female,72.0,Typhoid,2023-09-29 00:00:00,2024-05-30 00:00:00,Cross River,Undisclosed,20000.0,Paid

In [ ]:
df4['Payment_Status'] = df4['Payment_Status'].replace({
    'pending': 'Pending',
    'unpaid': 'Unpaid',
    np.nan: 'Undisclosed'
})

In [ ]:
df4['Payment_Status'] = df4['Payment_Status'].str.strip().str.title()

In [ ]:
df4

,Patient_ID,First_Name,Last_Name,Gender,Age,Diagnosis,Admission_Date,Discharge_Date,State_of_Residence,Hospital_Branch,Billing_Amount,Payment_Status
0,P1000,Ibrahim,Adebayo,Male,NaN,Flu,NaN,NaN,Lagos,Yaba,10000.0,Undisclosed
1,P1001,Halima,Undisclosed,Male,55.0,Anemia,2024-11-16 00:00:00,2023-08-24 00:00:00,Edo,Yaba,20000.0,Paid
2,P1002,Fatima,Chukwu,Male,92.0,Undisclosed,2023-12-13 00:00:00,2023-07-28 00:00:00,Ogun,Ikeja,10000.0,Paid
3,P1003,Emeka,Chukwu,Male,50.0,Cough,2024-06-15 00:00:00,2023-09-14 00:00:00,Kano,Lekki,15000.0,Paid
4,NaN,Tunde,Adebayo,Others,63.0,Covid-19,2024-06-19 00:00:00,2024-09-26 00:00:00,Imo,Undisclosed,10000.0,Pending
...,...,...,...,...,...,...,...,...,...,...,...,...
995,P1995,Ibrahim,Aliyu,Others,98.0,Covid-19,2024-05-25 00:00:00,2023-03-24 00:00:00,Abuja,Surulere,5000.0,Undisclosed
996,P1996,Halima,Okafor,Male,95.0,Cough,2023-07-24 00:00:00,2024-12-06 00:00:00,Edo,Ikeja,NaN,Pending
997,P1997,Undisclosed,Ogunleye,Female,73.0,Malaria,2023-08-29 00:00:00,NaN,Kano,Surulere,15000.0,Unpaid
998,P1998,Emeka,Adebayo,Male,NaN,Hypertension,2023-09-05 00:00:00,NaN,Kano,Surulere,20000.0,Paid
999,P1999,Bola,Okafor,Female,72.0,Typhoid,2023-09-29 00:00:00,2024-05-30 00:00:00,Cross River,Undisclosed,20000.0,Paid

In [ ]:
df4[['Admission_Date', 'Discharge_Date']] = df4[['Admission_Date', 'Discharge_Date']].replace(np.nan, 'Unavailable')

In [ ]:
df4

,Patient_ID,First_Name,Last_Name,Gender,Age,Diagnosis,Admission_Date,Discharge_Date,State_of_Residence,Hospital_Branch,Billing_Amount,Payment_Status
0,P1000,Ibrahim,Adebayo,Male,NaN,Flu,Unavailable,Unavailable,Lagos,Yaba,10000.0,Undisclosed
1,P1001,Halima,Undisclosed,Male,55.0,Anemia,2024-11-16 00:00:00,2023-08-24 00:00:00,Edo,Yaba,20000.0,Paid
2,P1002,Fatima,Chukwu,Male,92.0,Undisclosed,2023-12-13 00:00:00,2023-07-28 00:00:00,Ogun,Ikeja,10000.0,Paid
3,P1003,Emeka,Chukwu,Male,50.0,Cough,2024-06-15 00:00:00,2023-09-14 00:00:00,Kano,Lekki,15000.0,Paid
4,NaN,Tunde,Adebayo,Others,63.0,Covid-19,2024-06-19 00:00:00,2024-09-26 00:00:00,Imo,Undisclosed,10000.0,Pending
...,...,...,...,...,...,...,...,...,...,...,...,...
995,P1995,Ibrahim,Aliyu,Others,98.0,Covid-19,2024-05-25 00:00:00,2023-03-24 00:00:00,Abuja,Surulere,5000.0,Undisclosed
996,P1996,Halima,Okafor,Male,95.0,Cough,2023-07-24 00:00:00,2024-12-06 00:00:00,Edo,Ikeja,NaN,Pending
997,P1997,Undisclosed,Ogunleye,Female,73.0,Malaria,2023-08-29 00:00:00,Unavailable,Kano,Surulere,15000.0,Unpaid
998,P1998,Emeka,Adebayo,Male,NaN,Hypertension,2023-09-05 00:00:00,Unavailable,Kano,Surulere,20000.0,Paid
999,P1999,Bola,Okafor,Female,72.0,Typhoid,2023-09-29 00:00:00,2024-05-30 00:00:00,Cross River,Undisclosed,20000.0,Paid

In [ ]:
avg_age = df4['Age'].mean()

In [ ]:
df4['Age'] = df4['Age'].fillna(avg_age)

In [ ]:
df4['Age'] = df4['Age'].astype(int)

In [ ]:
df4

,Patient_ID,First_Name,Last_Name,Gender,Age,Diagnosis,Admission_Date,Discharge_Date,State_of_Residence,Hospital_Branch,Billing_Amount,Payment_Status
0,P1000,Ibrahim,Adebayo,Male,60,Flu,Unavailable,Unavailable,Lagos,Yaba,10000.0,Undisclosed
1,P1001,Halima,Undisclosed,Male,55,Anemia,2024-11-16 00:00:00,2023-08-24 00:00:00,Edo,Yaba,20000.0,Paid
2,P1002,Fatima,Chukwu,Male,92,Undisclosed,2023-12-13 00:00:00,2023-07-28 00:00:00,Ogun,Ikeja,10000.0,Paid
3,P1003,Emeka,Chukwu,Male,50,Cough,2024-06-15 00:00:00,2023-09-14 00:00:00,Kano,Lekki,15000.0,Paid
4,NaN,Tunde,Adebayo,Others,63,Covid-19,2024-06-19 00:00:00,2024-09-26 00:00:00,Imo,Undisclosed,10000.0,Pending
...,...,...,...,...,...,...,...,...,...,...,...,...
995,P1995,Ibrahim,Aliyu,Others,98,Covid-19,2024-05-25 00:00:00,2023-03-24 00:00:00,Abuja,Surulere,5000.0,Undisclosed
996,P1996,Halima,Okafor,Male,95,Cough,2023-07-24 00:00:00,2024-12-06 00:00:00,Edo,Ikeja,NaN,Pending
997,P1997,Undisclosed,Ogunleye,Female,73,Malaria,2023-08-29 00:00:00,Unavailable,Kano,Surulere,15000.0,Unpaid
998,P1998,Emeka,Adebayo,Male,60,Hypertension,2023-09-05 00:00:00,Unavailable,Kano,Surulere,20000.0,Paid
999,P1999,Bola,Okafor,Female,72,Typhoid,2023-09-29 00:00:00,2024-05-30 00:00:00,Cross River,Undisclosed,20000.0,Paid

In [ ]:
mean_billing = df4['Billing_Amount'].mean()

In [ ]:
df4['Billing_Amount'] = df4['Billing_Amount'].fillna(mean_billing)

In [ ]:
df4

,Patient_ID,First_Name,Last_Name,Gender,Age,Diagnosis,Admission_Date,Discharge_Date,State_of_Residence,Hospital_Branch,Billing_Amount,Payment_Status
0,P1000,Ibrahim,Adebayo,Male,60,Flu,Unavailable,Unavailable,Lagos,Yaba,10000.0,Undisclosed
1,P1001,Halima,Undisclosed,Male,55,Anemia,2024-11-16 00:00:00,2023-08-24 00:00:00,Edo,Yaba,20000.0,Paid
2,P1002,Fatima,Chukwu,Male,92,Undisclosed,2023-12-13 00:00:00,2023-07-28 00:00:00,Ogun,Ikeja,10000.0,Paid
3,P1003,Emeka,Chukwu,Male,50,Cough,2024-06-15 00:00:00,2023-09-14 00:00:00,Kano,Lekki,15000.0,Paid
4,NaN,Tunde,Adebayo,Others,63,Covid-19,2024-06-19 00:00:00,2024-09-26 00:00:00,Imo,Undisclosed,10000.0,Pending
...,...,...,...,...,...,...,...,...,...,...,...,...
995,P1995,Ibrahim,Aliyu,Others,98,Covid-19,2024-05-25 00:00:00,2023-03-24 00:00:00,Abuja,Surulere,5000.0,Undisclosed
996,P1996,Halima,Okafor,Male,95,Cough,2023-07-24 00:00:00,2024-12-06 00:00:00,Edo,Ikeja,33400.0,Pending
997,P1997,Undisclosed,Ogunleye,Female,73,Malaria,2023-08-29 00:00:00,Unavailable,Kano,Surulere,15000.0,Unpaid
998,P1998,Emeka,Adebayo,Male,60,Hypertension,2023-09-05 00:00:00,Unavailable,Kano,Surulere,20000.0,Paid
999,P1999,Bola,Okafor,Female,72,Typhoid,2023-09-29 00:00:00,2024-05-30 00:00:00,Cross River,Undisclosed,20000.0,Paid

In [ ]:
df4['Admission_Date'] = pd.to_datetime(df4['Admission_Date'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

In [ ]:
df4['Discharge_Date'] = pd.to_datetime(df4['Discharge_Date'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

In [ ]:
df4.dtypes

Patient_ID                    object
First_Name                    object
Last_Name                     object
Gender                        object
Age                            int32
Diagnosis                     object
Admission_Date        datetime64[ns]
Discharge_Date        datetime64[ns]
State_of_Residence            object
Hospital_Branch               object
Billing_Amount               float64
Payment_Status                object
dtype: object

In [ ]:
df4

,Patient_ID,First_Name,Last_Name,Gender,Age,Diagnosis,Admission_Date,Discharge_Date,State_of_Residence,Hospital_Branch,Billing_Amount,Payment_Status
0,P1000,Ibrahim,Adebayo,Male,60,Flu,NaT,NaT,Lagos,Yaba,10000.0,Undisclosed
1,P1001,Halima,Undisclosed,Male,55,Anemia,2024-11-16,2023-08-24,Edo,Yaba,20000.0,Paid
2,P1002,Fatima,Chukwu,Male,92,Undisclosed,2023-12-13,2023-07-28,Ogun,Ikeja,10000.0,Paid
3,P1003,Emeka,Chukwu,Male,50,Cough,2024-06-15,2023-09-14,Kano,Lekki,15000.0,Paid
4,NaN,Tunde,Adebayo,Others,63,Covid-19,2024-06-19,2024-09-26,Imo,Undisclosed,10000.0,Pending
...,...,...,...,...,...,...,...,...,...,...,...,...
995,P1995,Ibrahim,Aliyu,Others,98,Covid-19,2024-05-25,2023-03-24,Abuja,Surulere,5000.0,Undisclosed
996,P1996,Halima,Okafor,Male,95,Cough,2023-07-24,2024-12-06,Edo,Ikeja,33400.0,Pending
997,P1997,Undisclosed,Ogunleye,Female,73,Malaria,2023-08-29,NaT,Kano,Surulere,15000.0,Unpaid
998,P1998,Emeka,Adebayo,Male,60,Hypertension,2023-09-05,NaT,Kano,Surulere,20000.0,Paid
999,P1999,Bola,Okafor,Female,72,Typhoid,2023-09-29,2024-05-30,Cross River,Undisclosed,20000.0,Paid

In [ ]:
df4.shape

(1000, 12)

In [ ]:
df5 = df4.copy()

In [ ]:
start_id = 1000

df5["new_patient_id"] = ["P" + str(i) for i in range(start_id, start_id + len(df5))]

In [ ]:
df5

,Patient_ID,First_Name,Last_Name,Gender,Age,Diagnosis,Admission_Date,Discharge_Date,State_of_Residence,Hospital_Branch,Billing_Amount,Payment_Status,new_patient_id
0,P1000,Ibrahim,Adebayo,Male,60,Flu,NaT,NaT,Lagos,Yaba,10000.0,Undisclosed,P1000
1,P1001,Halima,Undisclosed,Male,55,Anemia,2024-11-16,2023-08-24,Edo,Yaba,20000.0,Paid,P1001
2,P1002,Fatima,Chukwu,Male,92,Undisclosed,2023-12-13,2023-07-28,Ogun,Ikeja,10000.0,Paid,P1002
3,P1003,Emeka,Chukwu,Male,50,Cough,2024-06-15,2023-09-14,Kano,Lekki,15000.0,Paid,P1003
4,NaN,Tunde,Adebayo,Others,63,Covid-19,2024-06-19,2024-09-26,Imo,Undisclosed,10000.0,Pending,P1004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,P1995,Ibrahim,Aliyu,Others,98,Covid-19,2024-05-25,2023-03-24,Abuja,Surulere,5000.0,Undisclosed,P1995
996,P1996,Halima,Okafor,Male,95,Cough,2023-07-24,2024-12-06,Edo,Ikeja,33400.0,Pending,P1996
997,P1997,Undisclosed,Ogunleye,Female,73,Malaria,2023-08-29,NaT,Kano,Surulere,15000.0,Unpaid,P1997
998,P1998,Emeka,Adebayo,Male,60,Hypertension,2023-09-05,NaT,Kano,Surulere,20000.0,Paid,P1998
999,P1999,Bola,Okafor,Female,72,Typhoid,2023-09-29,2024-05-30,Cross River,Undisclosed,20000.0,Paid,P1999

In [ ]:
df5.isnull().sum()

Patient_ID            100
First_Name              0
Last_Name               0
Gender                  0
Age                     0
Diagnosis               0
Admission_Date        100
Discharge_Date        100
State_of_Residence      0
Hospital_Branch         0
Billing_Amount          0
Payment_Status          0
new_patient_id          0
dtype: int64

In [ ]:
df6 = df5.copy()

In [ ]:
df6

,Patient_ID,First_Name,Last_Name,Gender,Age,Diagnosis,Admission_Date,Discharge_Date,State_of_Residence,Hospital_Branch,Billing_Amount,Payment_Status,new_patient_id
0,P1000,Ibrahim,Adebayo,Male,60,Flu,NaT,NaT,Lagos,Yaba,10000.0,Undisclosed,P1000
1,P1001,Halima,Undisclosed,Male,55,Anemia,2024-11-16,2023-08-24,Edo,Yaba,20000.0,Paid,P1001
2,P1002,Fatima,Chukwu,Male,92,Undisclosed,2023-12-13,2023-07-28,Ogun,Ikeja,10000.0,Paid,P1002
3,P1003,Emeka,Chukwu,Male,50,Cough,2024-06-15,2023-09-14,Kano,Lekki,15000.0,Paid,P1003
4,NaN,Tunde,Adebayo,Others,63,Covid-19,2024-06-19,2024-09-26,Imo,Undisclosed,10000.0,Pending,P1004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,P1995,Ibrahim,Aliyu,Others,98,Covid-19,2024-05-25,2023-03-24,Abuja,Surulere,5000.0,Undisclosed,P1995
996,P1996,Halima,Okafor,Male,95,Cough,2023-07-24,2024-12-06,Edo,Ikeja,33400.0,Pending,P1996
997,P1997,Undisclosed,Ogunleye,Female,73,Malaria,2023-08-29,NaT,Kano,Surulere,15000.0,Unpaid,P1997
998,P1998,Emeka,Adebayo,Male,60,Hypertension,2023-09-05,NaT,Kano,Surulere,20000.0,Paid,P1998
999,P1999,Bola,Okafor,Female,72,Typhoid,2023-09-29,2024-05-30,Cross River,Undisclosed,20000.0,Paid,P1999

In [ ]:
df6.drop(columns=["Patient_ID"], inplace=True)

In [ ]:
df6

,First_Name,Last_Name,Gender,Age,Diagnosis,Admission_Date,Discharge_Date,State_of_Residence,Hospital_Branch,Billing_Amount,Payment_Status,new_patient_id
0,Ibrahim,Adebayo,Male,60,Flu,NaT,NaT,Lagos,Yaba,10000.0,Undisclosed,P1000
1,Halima,Undisclosed,Male,55,Anemia,2024-11-16,2023-08-24,Edo,Yaba,20000.0,Paid,P1001
2,Fatima,Chukwu,Male,92,Undisclosed,2023-12-13,2023-07-28,Ogun,Ikeja,10000.0,Paid,P1002
3,Emeka,Chukwu,Male,50,Cough,2024-06-15,2023-09-14,Kano,Lekki,15000.0,Paid,P1003
4,Tunde,Adebayo,Others,63,Covid-19,2024-06-19,2024-09-26,Imo,Undisclosed,10000.0,Pending,P1004
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Ibrahim,Aliyu,Others,98,Covid-19,2024-05-25,2023-03-24,Abuja,Surulere,5000.0,Undisclosed,P1995
996,Halima,Okafor,Male,95,Cough,2023-07-24,2024-12-06,Edo,Ikeja,33400.0,Pending,P1996
997,Undisclosed,Ogunleye,Female,73,Malaria,2023-08-29,NaT,Kano,Surulere,15000.0,Unpaid,P1997
998,Emeka,Adebayo,Male,60,Hypertension,2023-09-05,NaT,Kano,Surulere,20000.0,Paid,P1998
999,Bola,Okafor,Female,72,Typhoid,2023-09-29,2024-05-30,Cross River,Undisclosed,20000.0,Paid,P1999

In [ ]:
df6 = df6.rename(columns={"new_patient_id": "Patient_ID"})
df6

,First_Name,Last_Name,Gender,Age,Diagnosis,Admission_Date,Discharge_Date,State_of_Residence,Hospital_Branch,Billing_Amount,Payment_Status,Patient_ID
0,Ibrahim,Adebayo,Male,60,Flu,NaT,NaT,Lagos,Yaba,10000.0,Undisclosed,P1000
1,Halima,Undisclosed,Male,55,Anemia,2024-11-16,2023-08-24,Edo,Yaba,20000.0,Paid,P1001
2,Fatima,Chukwu,Male,92,Undisclosed,2023-12-13,2023-07-28,Ogun,Ikeja,10000.0,Paid,P1002
3,Emeka,Chukwu,Male,50,Cough,2024-06-15,2023-09-14,Kano,Lekki,15000.0,Paid,P1003
4,Tunde,Adebayo,Others,63,Covid-19,2024-06-19,2024-09-26,Imo,Undisclosed,10000.0,Pending,P1004
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Ibrahim,Aliyu,Others,98,Covid-19,2024-05-25,2023-03-24,Abuja,Surulere,5000.0,Undisclosed,P1995
996,Halima,Okafor,Male,95,Cough,2023-07-24,2024-12-06,Edo,Ikeja,33400.0,Pending,P1996
997,Undisclosed,Ogunleye,Female,73,Malaria,2023-08-29,NaT,Kano,Surulere,15000.0,Unpaid,P1997
998,Emeka,Adebayo,Male,60,Hypertension,2023-09-05,NaT,Kano,Surulere,20000.0,Paid,P1998
999,Bola,Okafor,Female,72,Typhoid,2023-09-29,2024-05-30,Cross River,Undisclosed,20000.0,Paid,P1999

In [ ]:
df6 = df6[["Patient_ID"] + [c for c in df6.columns if c != "Patient_ID"]]

In [ ]:
df6

,Patient_ID,First_Name,Last_Name,Gender,Age,Diagnosis,Admission_Date,Discharge_Date,State_of_Residence,Hospital_Branch,Billing_Amount,Payment_Status
0,P1000,Ibrahim,Adebayo,Male,60,Flu,NaT,NaT,Lagos,Yaba,10000.0,Undisclosed
1,P1001,Halima,Undisclosed,Male,55,Anemia,2024-11-16,2023-08-24,Edo,Yaba,20000.0,Paid
2,P1002,Fatima,Chukwu,Male,92,Undisclosed,2023-12-13,2023-07-28,Ogun,Ikeja,10000.0,Paid
3,P1003,Emeka,Chukwu,Male,50,Cough,2024-06-15,2023-09-14,Kano,Lekki,15000.0,Paid
4,P1004,Tunde,Adebayo,Others,63,Covid-19,2024-06-19,2024-09-26,Imo,Undisclosed,10000.0,Pending
...,...,...,...,...,...,...,...,...,...,...,...,...
995,P1995,Ibrahim,Aliyu,Others,98,Covid-19,2024-05-25,2023-03-24,Abuja,Surulere,5000.0,Undisclosed
996,P1996,Halima,Okafor,Male,95,Cough,2023-07-24,2024-12-06,Edo,Ikeja,33400.0,Pending
997,P1997,Undisclosed,Ogunleye,Female,73,Malaria,2023-08-29,NaT,Kano,Surulere,15000.0,Unpaid
998,P1998,Emeka,Adebayo,Male,60,Hypertension,2023-09-05,NaT,Kano,Surulere,20000.0,Paid
999,P1999,Bola,Okafor,Female,72,Typhoid,2023-09-29,2024-05-30,Cross River,Undisclosed,20000.0,Paid